



<div class="calendar-wrapper" >
  <button mat-button (click)="prevDay()">Prev</button>
  <button mat-button (click)="today()">Today</button>
  <button mat-button (click)="nextDay()">Next</button>

  <mat-calendar #calendar (monthSelected)="monthSelected($event)" [(selected)]="selectedDate"
    (selectedChange)="dateChanged()"></mat-calendar>
    
</div>





















<!--     
<div class="col-sm-12">
    <form [formGroup]="dateForm">
     
      <div class="form-group">
        <label>date</label>
        <input formControlName="date" type="Date" class="form-control"  placeholder="month/day/year" onchange="handler(event);">
       
      </div>
     
      
    </form>
  </div>

  -->